.row
  .col-md-12
    %hr
.row
  .col-md-2
  .col-md-8
    .h1=@account.name
    .h6=@account.ownership
.row
  .col-md-12
    %hr

.row
  .col-md-4
    =raw @account.address.join("<br>")
  .col-md-4
    =@account.phone_office
  .col-md-4
    =@account.phone_alternate
.row
  .col-md-2
    .h5 note
  .col-md-10
    .well-small=@account.description 
.row
  .col-md-2 Segnalatore/Agente:
  - if @account.assigned_to
    .col-md-4
      =@account.assigned_to.full_name
    .col-md-4
      %p=@account.assigned_to.phone_home
      %p=@account.assigned_to.phone_mobile
      %p=@account.assigned_to.phone_work    


-if @account.contacts.empty?
  .row
    .col-md-12.text-danger
-else
  .row
    .col-md-12
      .h4 Contatti
  %table.table.table-bordered.table-condensed
    %tr.info
      %th="Nome"
      %th="Telefoni"
      %th="Note"
    -@account.contacts.each do |c|
      %tr.info
        %td
          =c.full_name
        %td
          %p=c.phone_home
          %p=c.phone_mobile
          %p=c.phone_work 
        %td
          =c.description


